@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:100|Cantarell|Dosis|Economica:400,700|Open+Sans+Condensed:300|Poiret+One|Quicksand:400,500|Rajdhani|Roboto|Bungee+Shade');

.BC {
    
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #ff4500;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: none;
}

.pageTitle {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 100px;
    text-align: center;
    color: navy;
    padding-top: none;
    margin-top: none;
    
}

#resourceList{
    list-style-type: none;
    
}
.resourceTitle {
    font-size: 60px;
    text-align: center;
    color:palegreen;
    font-family:'Bungee Shade', 'Roboto';
    
    
}

.resourceText {
    font-family: sans-serif;
    font-size: 20px;
    margin-left:50px;
    margin-right: 50px;
    font-family: 'Quicksand';
    
}

.resourcePI {
    font-family: sans-serif;
    font-size: 40px;
    margin-left:50px;
    margin-right: 50px;
    font-family: 'Quicksand';
    
}

.other {
    font-size: 40px;
    font-family: 'Quicksand'
    
}

body {
    
    background-color: skyblue;
}

.menu {
    list-style-type: none;
/*
    margin: none;
    padding: none;
*/
    text-align: center;
    
}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    color:white;
    
}

.menuItem {
    display: inline;
    text-align: center;
    font-size: 60px;
    padding-left: 5%;
    padding-right: 5%;
}

.menuLink{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Lato';
    
}

.menuLink:hover {
    text-decoration: none;
    color: palegreen;
    font-family: 'Lato';   
}

#description {
    font-family: 'Lato';
    font-size: 40px;
    color:darkslategray;
    text-align: center;
}

/*about page*/
.intro {
    font-size: 30px;
    color:dimgray;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Quicksand';
    
}


.slides {
    display:none;
    width:100%;

}